/* css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body{
    font-size: 100%;
}

.offsetBox{
    background-color: coral;
}

label{
    margin: auto;
}

.slider{
    width: 50%;
    height: 25px;
    background: #9b9e64;
    cursor: pointer;
    opacity: 0.8;
}

.slider:hover{
    opacity:1;
}

.bubble{
    background: #b8640b;
    color: #000;
    position: absolute;
    border-radius: 3px;
    padding: auto;
}

.textarea{
    height: 150px;
    border-radius: 5px;
    resize: vertical;
    width: 100%;
}

.textInput{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.submit:hover{
    cursor: pointer;
    background-color: #6dbfa2;
}

.submit{
    display: flex;
    border-radius: 5px;
    background-color: #bf6d8a; 
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem auto;
    width: 25%;
    padding: 0.8rem;
}

.textInput{
    background-color: #b8640b;
}

.cipher{
    background-color: aqua;
    width: 45%;
}
.decipher{
    background-color: blueviolet;
    width: 45%;
}

h2{
    text-align: center;
}